{% load static %}
<html>
<head>
<title>Colorectal Cancer Detection</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>
<style>
body {
  background-image: url("{% static 'images/do2.jpg' %}");
}
</style>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1 align="center"><span>Colorectal Cancer Detection using Pre-Trained Ensemble Algorithms</span><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
         
            <center>
                <ul>
	  <li><a href="{% url 'index' %}"><font size="3" color="black">Home</font></a></li>
      <li><a href="{% url 'UserLogin' %}"><font size="3" color="black">User Login</font></a></li>
	  <li><a href="{% url 'Signup' %}"><font size="3" color="black">New User Signup</font></a></li>
	  <li><a href="{% url 'Aboutus' %}"><font size="3" color="black">About Us</font></a></li>
	 		
		</ul>
         </center>
         
        </div>
        <div class="hbg"><img src="{% static 'images/do4.jpg' %}" width="915" height="286" alt="" /></div>

	
	<font size="" color="black"><center>{{ data }}</center></font>

	<p align="justify">
<font size="3" style="font-family: Comic Sans MS" color="black">
		<center>We automate Colrectal cancer Detection Process Using Pre-trained Ensmble CNN Algorithm
 <li> Varshith Gandra | 
 Malarapu Charan |
 Goalla Yashwanth Sai

<center>

</font>

</p>
</body>
</html>